#group-label.animated.fadeIn(
	ng-bind="groupName")

#messenger-chat
	.message-wrapper.animated.fadeIn(
		ng-repeat="message in Messages"
		ng-class="{ 'other-message': message.UserObj.username !== User.username }")
		img.ui.avatar(
			ng-if="message.UserObj.username !== User.username"
			data-title="{{message.UserObj.disp_name}}"
			ng-src="/display_images/{{message.UserObj.display_image}}")

		.sent-time(
			ng-bind="message.sent_at"
			ng-if="message.UserObj.username == User.username")

		.message(ng-bind="message.content")
		.sent-time(
			ng-bind="message.sent_at"
			ng-if="message.UserObj.username !== User.username")

#message-type-box.animated.fadeIn
	form(ng-submit="Send()")
		textarea.type-box(
			ng-enter="Send()"
			ng-model="content")
		button#send-button.ui.teal.button(
			type="submit")
			| Send

script.
	$('body').on('mouseover', '.avatar', function() {
	    $(this).popup('show');
	});

