//- join modal
div#messenger-join-group.ui.modal
  i.close.icon
  div.content
    h1
      | I wanna
      span(style="color: red")  join
      |  into this group ...
    div.ui.corner.labeled.input(
      ng-class="{ error: err.join.group_name }")
      input(
        ng-model="join.group_name"
        style="font-size: 2rem"
        type="text"
        placeholder="Group name..")
      div.ui.corner.label
        i.asterisk.icon
  div.actions
    div.ui.black.button
      | Nope
    div.ui.positive.right.labeled.icon.button(
      ng-click="Join(join.group_name)")
      | Let me in already :)
      i.checkmark.icon

//- create modals
div#messenger-create-group.ui.modal
  i.close.icon
  div.content
    h1 I wanna start this group chat ...
    div.ui.corner.labeled.input(
      ng-class="{ error: err.create.group_name }")
      input(
        ng-model="create.group_name"
        style="font-size: 2rem"
        type="text"
        placeholder="Group name..")
      div.ui.corner.label
        i.asterisk.icon
  div.actions
    div.ui.black.button
      | Nope
    div.ui.positive.right.labeled.icon.button(
      ng-click="Create(create.group_name)")
      | Create it for me!!!
      i.checkmark.icon

//- leave modals
div#messenger-leave-group.ui.modal
  i.close.icon
  div.content
    h1
      | I wanna
      span(style="color: red;")  leave
      |  this group :(
  div.actions
    div.ui.black.button
      | Nope
    div.ui.positive.right.labeled.icon.button(
      ng-click="Leave()")
      | Let me go!!
      i.checkmark.icon
  //- this modal is for when leaving goes wrong :D
  div#messenger-leave-not-defined-group.ui.modal
    i.close.icon
    div.content
      h1 You want to leave the unspecified group..
    div.actions
      div.ui.negative.right.labeled.icon.button
        | Okay...
        i.close.icon

//- main body
div#messenger-wrapper.ui.grid
  div.main-layout.two.column.row
    div.messenger-list.column(
      list-column
      ui-view="")

    div#main-nav.nav.column.ui.vertical.menu

      a.teal.item(
        ui-sref="messenger.groups"
        ng-class="{ active: $state.current.name === 'messenger.groups' }")
        h3
          i.list.icon
          | All
      a.item(
        ng-click="AskJoin()")
        h3
          i.wechat.icon
          | Join
      a.item(
        ng-click="AskCreate()")
        h3
          i.add.icon
          | Create
      a.item(
        ng-click="AskLeave()"
        ng-class="{ disabled: $state.current.name !== 'messenger.chat' }")
        h3
          i.remove.icon
          | Leave

      div.avatar-wrapper
        img.avatar

        div.name
          a(href="" popup).browse.item
            h4
              span(ng-bind="UserObj.disp_name")
              i.caret.up.icon
          div.ui.flowing.popup
            div.ui.one.column.relaxed.equal.height.divided.grid
              div.ui.column
                h3.ui.header I wanna ..
                div.ui.link.list
                  a.item(ng-click="Logout()") Logout





